.navbar-nav.img {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-item:hover {
    background-color: #eae7b1;
    color: #3c6255;
}

.btn-main {
    color: white;
    background-color: #3c6255;
}

.btn-main:hover {
    background-color: #eae7b1;
    color: #3c6255;
}

/* Style Footer */
footer {
    background-color: #eae7b1;
    font-size: 14px;
}

.judul-footer {
    font-size: 14px;
    font-weight: bold;
    color: #3c6255;
}

.menu-footer a {
    color: black;
    text-decoration: none;
}

.menu-footer a:hover {
    color: #3c6255;
}

.social-icon {
    color: #3c6255;
}

.border-top {
    color: 1px solid #3c6255;
}
